/* This file is for the Home.jsx component */

.imageCricket {
    transform: scaleX(-1); /* Flips the image horizontally */
}

/* On smaller screens (mobile), add some top margin to the image */
@media (max-width: 768px) {
  .imageCricket {
    margin-top: 2rem;
    width: 80%;
  }
}
