@font-face {
  font-family: 'POLYA Regular';
  /* Corrected path from components folder up to src, then down to fonts */
  src: url('../fonts/POLYA.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.navbarheadtext{
    font-family: 'POLYA Regular';
}
